[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-core = "*"
langchain-community = "*"
langchain-openai = "*"
dotenv = "*"
unstructured = "*"
markdown = "*"
langchain-pinecone = "==0.2.11"

[dev-packages]

[requires]
python_version = "3.13"
